<!doctype html>
<html lang="en">
  <head>
    <title>UFARM</title>
    <link rel="stylesheet" href="style.css">
</head>
  style.
   * {
    margin: 0;
    padding: 0;
    }

    .main {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("/public\ images/cover.jpg"); 
    }

    .navbar{
    width: 1100px;
    height: 85px;
    margin: auto;
    }

    .icon{
    width: 80px;
    float: right;
    height: 50px;

    }

    .logo{
    font-size: 20px;
    font-family: Helvetica; 
    float: left;
    padding-top: 10px;
    text-align: left;
    justify-content: left;
    padding-left: 30px;

    }

    .menu{
    width: 400px;
    float: left;
    height: 70px;
    }

    ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    }

    ul li a{
    text-decoration: none;
    color: #008000;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-out;
    }

    ul li a:hover{
    color:#070707;
    
    }

    .search{
    width: 600px;
    float: right;
    margin-right: 400px;

    }

    .srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #75f075;
    margin-top: 13px; 
    color: #faf5f5;
    border-right: none;
    font-size: 16px;
    float: right;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    }


    .btn{
    width: 100px;
    height: 40px;
    background: #75f075;
    border: 2px solid #75f075;
    margin-top: 13px;
    color: #1d1b1d;
    font-size: 15px;
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  
  
    }

    .btn:focus{
    outline: none;

    }

    .srch:focus{
    outline: none;
    }
    .content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    }

    .content .cn{
    width: 160px;
    height: 40px;
    background: #75f075;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transform: 4s ease;
    }

    .content .cn a{
    text-decoration: none;
    color: #635e5e;
    transition: 3s ease;
    }

    .cn:hover{
    background-color: #fff;
    }

    .content span{
    color: #75f075;
    font-size: 60px;
    }
    .content h4{
    width: 1200px;
    height: 50px;
    margin: auto;
    color: #75f075;
    position: left;
    font-size: 40px;
    text-align: left;
    justify-content: left;
    padding-left: 30px;
    }

    .content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: #008000;
    position: left;
    text-align: left;
    justify-content: left;
    padding-left: 30px;
    }

    .content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 30px;
    margin-top: 9%;
    letter-spacing: 2px;
    color: #000000;       
    }

    .form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,8)50%, rgba(0,0,0,8)50%);
    position: absolute;
    top: 180px;
    left: 900px;
    border-radius: 50px;
    padding: 25px;

    }

    .form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: right;
    color: #75f075;
    background-color: #fff;
    font-size: 22px;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;

    }

    .form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #75f075;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    font-size: 15px;
    margin-top: 30px;
    letter-spacing: 1px;
    font-family: sans-serif;
    }

    .form input:focus{
    outline: none;
    }

    ::placeholder{
    color: #fff;
    font-family: Arial;
    } 

    .btn{
    width: 240px;
    height: 40px;
    background: #75f075;
    }
.main
  .navbar
    .icon
      h2.logo UFARM
  .menu
    ul
      li
        a(href="/contact") HOME
      li
        a(href="/products") PRODUCTS
      li
        a(href="/register") FARMERS
  .Search
    input.srch(type='search' names='' placeholder='Type To Text')
    a(href='#')
      button.btn Search   
  .content
    h1 Welcome To U-FARM
    h4 Healthy from the Heartland
    p.par
      | The only way to a healthy life 
      br
      | Is eating organic produce
      br
      | We support your healthy living
  .form
    h2 Login Here
    input(type='email' name='email' placeholder='Enter Email Here')
    input(type='password' name='' placeholder='Enter Password Here')
    button.btn
      a(href="/login") Login
    p.link Don&apos;t have an account
    br
    a(href="/signup") Sign Up Here&quot;
    p.liw Log in with