doctype html
head
  title Products Info
  link(rel='stylesheet' href='style.css')
style.
  body {
  background-image: linear-gradient(#207c20, #fff,#207c20);
  font-family: cursive;
  background-repeat: repeat;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  }
  h1 {
  text-align: center;
  justify-content: center;
  }
  .menu {
  width: 200px;
  float: left;
  height: 20px;
  }
  ul{
  float: left;
  display: block;
  justify-content: center;
  align-items: center;
  }
  ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
  }
  ul li a{
  text-decoration: none;
  color: #0e0d0d;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-out;
  }
  ul li a:hover{
  color:#fff;
  }
  .btn {
  width: 100px;
  height: 40px;
  background: #75f075;
  border: 2px solid #75f075;
  margin-top: 13px;
  color: #1d1b1d;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  }
  .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  }
  .slide {
  flex-basis: 25%;
  padding: 10px;
  }
  .slide img {
  width: 70%;
  height: auto;
  }
  .slide h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
  }
  .slide p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
  }
  .slider {
  overflow: hidden;
  margin-top: 20px;
  }
  .slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  }
  .slide-btn {
  cursor: pointer;
  background-color: #ddd;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-left: 5px;
  border: none;
  outline: none;
  }
  .slide-btn.active {
  background-color: #555;
  }
h1 All Products
.Cart
  a(href="/cart") MyCart
.menu
  ul
    li
      a(href="/products") ORGANIC PRODUCTS
    li
      a(href="/diary") DAIRY PRODUCTS
    li
      a(href="/poultry") POULTRY PRODUCTS
    li  
      a(href="/payments") PAYMENTS
    li
      a(href="/delivery") DELIVERY
.container
  .slide
    img(src='/ufarm images/mango.jpg')
    h3 Mango
    p 2000ugx
    button Add to Cart
  .slide
    img(src='/ufarm images/kiwi.jpg')
    h3 Kiwi
    p 3000ugx
    button Add to Cart
  .slide
    img(src='/ufarm images/apple.jpg')
    h3 Apple
    p 2000ugx.
    button Add to Cart
  .slide
    img(src='/ufarm images/banana.jpg')
    h3 Banana
    p 7000ugx
    button Add to Cart
  .slide
    img(src='/ufarm images/grapes.jpg')
    h3 Grapes
    p 10000ugx
    button Add to Cart
  .slide
    img(src='/ufarm images/orange.jpg')
    h3 Orange
    p 2500ugx
    button Add to Cart
  .slide
    img(src='/ufarm images/passion.jpg')
    h3 Passion Fruit
    p 500ugx
    button Add to Cart
  .slide
    img(src='/ufarm images/pawpaw.jpg')
    h3 Pawpaw
    p 3500ugx
    button Add to Cart
  .slide
    img(src='/ufarm images/sourfruit.jpg')
    h3 Sour Fruit
    p 7500ugx
    button Add to Cart
  .slide
    img(src='/ufarm images/pomagranate.jpg')
    h3 Pomegranate
    p 1000ugx
    button Add to Cart
  .slide
    img(src='/ufarm images/star.jpg')
    h3 Star Fruit
    p 1500ugx
    button Add to Cart
  .slide
    img(src='/ufarm images/pineapple.jpg')
    h3 Pineapple
    p 2500ugx
    button Add to Cart
