doctype html
head
  title UFARM
  link(rel='stylesheet' href='style.css')
.main
  .navbar
    .icon
      h2.logo UFARM
  .menu
    ul
      li
        a(href='contactsUs.html') HOME
      li
        a(href='products.html') PRODUCTS
      li
        a(href='farmersReg.html') FARMERS/REGISTRATION
  .Search
    input.srch(type='search' names='' placeholder='Type To Text')
    a(href='#')
      button.btn Search
  .content
    h1 Welcome To U-FARM
    h4 Healthy from the Heartland
    p.par
      | The only way to a healthy life 
      br
      | Is eating organic produce
      br
      | We support your healthy living
  .form
    h2 Login Here
    input(type='email' name='email' placeholder='Enter Email Here')
    input(type='password' name='' placeholder='Enter Password Here')
    button.btn
      a(href='#') Login
    p.link Don&apos;t have an account
    br
    a(href='signUp.html') Sign Up Here&quot;
    p.liw Log in with
    button.cn
      a(href='#') Join Us